.tech {
  text-align: center;
  .tech-icon {
    display: block;
    margin: auto;
    width: fit-content;
    .tech-text {
      display: none;
      color: $dark;
    }
    transition: all 0.2s ease-in-out;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      .tech-text {
        display: block;
      }
    }
  }
}
