// Variables
/* Color Theme Swatches in Hex */
$Africa-Help-1-hex: #020873;
$Africa-Help-2-hex: #020659;
$Africa-Help-3-hex: #d9d9d9;
$Africa-Help-4-hex: #f2e0bd;
$Africa-Help-5-hex: #f23535;

/* Color Theme Swatches in RGBA */
$Africa-Help-1-rgba: rgba(2, 7, 114, 1);
$Africa-Help-2-rgba: rgba(1, 6, 89, 1);
$Africa-Help-3-rgba: rgba(216, 216, 216, 1);
$Africa-Help-4-rgba: rgba(242, 223, 188, 1);
$Africa-Help-5-rgba: rgba(242, 53, 53, 1);

/* Color Theme Swatches in HSLA */
$Africa-Help-1-hsla: hsla(236, 96, 22, 1);
$Africa-Help-2-hsla: hsla(236, 96, 17, 1);
$Africa-Help-3-hsla: hsla(0, 0, 85, 1);
$Africa-Help-4-hsla: hsla(39, 67, 84, 1);
$Africa-Help-5-hsla: hsla(0, 88, 57, 1);
// Set custom colors
$teal: #f2e0bd;
$dark-blue: #020659 !default;

// Override Bootstrap primary and secondary colors
$primary: $Africa-Help-5-hex !default;
$secondary-off: $Africa-Help-1-hex !default;
$light: $Africa-Help-3-hex !default;
$secondary: $dark-blue !default;

// Override Bootstrap font variables
$font-family-sans-serif: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$headings-font-family: 'Montserrat', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$headings-font-weight: 700 !default;

// Override Bootstrap border variables
$border-width: 0.125rem !default;
$border-radius: 0.5rem !default;
$border-radius-lg: 0.75rem !default;
$border-radius-sm: 0.25rem !default;

// Override Bootstrap input/button variables
$input-btn-border-width: $border-width !default;

// Override Bootstrap modal variables
$modal-inner-padding: 4rem 1rem !default;
$modal-content-border-width: 0 !default;
